.row
	.col-md-offset-4.col-md-4
		h1= "FoodApplication"
		a.text-center(href="#createdish")= "Create new dish"
		#foodlistDiv
			if typeof foodlist != "undefined"
				if foodlist != ""
					each dish in foodlist
						li
							.dishes
								h3(data-id=dish.get('title')).dishtitle= dish.get('title')
								img(src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Ps-x-button.png/603px-Ps-x-button.png").deletedish