#dishTitleDiv.row
	.col-md-offset-4.col-md-4
		h3.h3title= title
#listIngredientsDiv.row
	.col-md-offset-4.col-md-4
		if typeof ingredients != "undefined"
			if ingredients != ""
				ul
					each ingredient in ingredients
						li= ingredient.get('name')